mat-toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  span {
    display: flex;
    width: 50%;
    height: 100%;
    &:first-child {
      justify-content: flex-start;
    }
    &:last-child {
      justify-content: flex-end;
    }
  }
  a {
    display: flex;
    position: relative;
    justify-content: center;
    img {
      width: 70%;
      min-width: 30px;
      height: 31px;
      margin: auto;
    }
  }
  h1 {
    margin: auto 0;
  }
  mat-divider {
    margin: 0 1rem;
  }
  .logo-header {
    cursor: pointer;
  }
}

mat-select {
  max-width: 150px;
  margin-right: 1.5rem;
}

.main-page-router-nest {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.OtterTM-styles {
  cursor: default;
}

mat-sidenav-content {
  height: calc(100vh - 64px);
  &::-webkit-scrollbar {
    display: none;
    }
}

mat-sidenav {
  width: 15%;
}

.mat-form-field {
  max-width: 80px;
  margin: auto;
}
.lower-menu-block {
width: 100%;
display: flex;
}

.lower-menu {
  position:  absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
}
