<mat-toolbar class="module-intro">Websites</mat-toolbar>
<mat-grid-list cols="3" rowHeight="1:1" >
  <mat-grid-tile *ngFor="let card of cards; let i = index">
    <mat-card class="example-card">
      <mat-card-header>
        <span>
        <a
          *ngFor=' let item of card.stack'
          mat-card-avatar
          matTooltip="{{ item.name }}"
          matTooltipPosition="above"
          class="example-header-image"
          [ngStyle]="{'background-image': 'url(' + item.image + ')'}"
          [href]="item.docs"
          target="_blank"
        ></a>
        </span>
        <mat-card-title> {{ card.projectName }}</mat-card-title>
        <mat-card-subtitle>Position: {{ card.position }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{ card.overview }}" />
      <mat-card-content>
        <p>
          {{ card.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
          <a  mat-flat-button  [routerLink]="card.detailPage"> Details</a>
          <a  mat-flat-button [href]="card.linkToWebsite">Go to project website</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-toolbar></mat-toolbar>
